########################################
## GIT IGNORE FILE FOR libraryDatabase
########################################


# Contains protected data:
site/mysqlSetup.js
site/hidden.js

# Just not needed:
site/startServer.sh
site/stopServer.sh

# Those pesky recovery files:
.*nfs
