/* ***********************************
 * Author: James Cameron Abreu
 * Date: February, 2018
 * Description: CSS file used with the library database nodejs application
 * Note: Any changes in here will reflect with ALL pages in the site
 * **********************************/

body {
  background-color: #ffffcc;
  padding: 20px;
}

p { margin: 2px; }

h2 { margin: 2px; }
h3 { margin: 2px; }

th { padding: 2px; }


#container {
  max-width: 800px;
  margin: 0 auto;
}

#footer { margin-top: 16px; }


.innerTable {
  border: none;
}




/* ========= GENERAL RESULTS TABLE ========== */
.resultsTable {
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
}

.resultsTable tr { text-align: left; }

/* Every other row color change: */
.resultsTable tr:nth-child(odd) {background: #fff1cc;}
.resultsTable tr:nth-child(even) {background: #eee1bb;}

/* Column Specific width by percentages: */
#c_FN  {width: 20%}
#c_LN  {width: 20%}
#c_SN  {width: 10%}
#c_AG  {width: 15%}
#c_SCH {width: 35%}





/* ========= NEW STUDENT TABLE ============== */
.newStudentTable {
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
  width: 500px;
}

.newStudentTable tr { text-align: left; }






/* ========= STUDENT INFO TABLE ============= */
.studentInfo {
  background-color: #fff1cc;
  padding: 2px 6px 6px 6px;
  border-spacing: 0;
  width: 400px;
  border: 1px solid black;
}

.studentInfo tr { text-align: left; }

#balance {
  background: #5f5;
}

#desc { text-align: right; }

.pointsTable {
  margin-top: 8px;
  margin-left: 16px;
  border-spacing: 0;
  border: 1px solid black;
  border-collapse: collapse;
  background: #eee1bb;
}



/* ========= TICKETS ======================== */
.ticketTable {
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
  width: 800px;
  border: 1px solid black;
}

.ticketTable th {
  border-bottom: 1px solid black;
}

.ticketTable tr { text-align: left; }

/* Every other row color change: */
.ticketTable tr:nth-child(odd) {background: #fff1cc;}
.ticketTable tr:nth-child(even) {background: #eee1bb;}

#T_DATE  {width: 15%}
#T_WT    {width: 20%}
#T_P     {width: 15%}
#T_NOTE  {width: 50%}




/* ========= PURCHASES ====================== */
.purchasesTable {
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
  width: 800px;
  border: 1px solid black;
}

.purchaseTable th {
  border-bottom: 1px solid black;
}

.purchasesTable tr { text-align: left; }

/* Every other row color change: */
.purchasesTable tr:nth-child(odd) {background: #fff1cc;}
.purchasesTable tr:nth-child(even) {background: #eee1bb;}

#P_DATE  {width: 15%}
#P_A     {width: 15%}
#P_NOTE  {width: 70%}






/* ========= ERRORS ========================= */
#errors {
  color: #fff;
  margin-bottom: 1em;
}

#errors > div {
  background-color: #f33;
  padding: 6px;
}


