/* ***********************************
 * Author: James Cameron Abreu
 * Date: February, 2018
 * Description: CSS file used with the library database nodejs application
 * Note: Any changes in here will reflect with ALL pages in the site
 * **********************************/

body {
  padding: 20px;
  background-color: #ffffcc;
}

p { margin: 2px; }

h2 { margin: 2px; }
h3 { margin: 2px; }

th { padding: 2px; }


#container {
  max-width: 800px; 
  margin: 0 auto;
}

#innerContainer {
  padding: 8px;
}

#footer { margin-top: 64px; }


.innerTable {
  border: none;
}





/* ======== TITLE BAR ======== */

#titleBar {
  padding: 4px;
  background-color: black;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#titleBar div {
  flex-grow: 1;
  text-align: center;
  background-color: #44f;
  color: white;
  padding: 14px 16px;
}

#titleBar div:hover {
  background-color: #00b;
  cursor: pointer;
}


#l_home { background-color: #c99400 !important; }
#l_home:hover { background-color: black !important; }

#l_search { background-color: #997100 !important; }
#l_search:hover { background-color: black !important; }

#l_allStudents { background-color: #997100 !important; }
#l_allStudents:hover { background-color: black !important; }

#l_newStudent { background-color: #997100 !important; }
#l_newStudent:hover { background-color: black !important; }

#l_ticket { background-color: #b5a2fe !important; }
#l_ticket:hover { background-color: black !important; }

#l_purchase { background-color: #9377fd !important; }
#l_purchase:hover { background-color: black !important; }

#l_reports { background-color: #1e018a !important; }
#l_reports:hover { background-color: black !important; }

#l_minecraft { background-color: #454 !important; }
#l_minecraft:hover { background-color: black !important; }


.barWhole {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}





#title {
  margin: 0px;
}

#titleDiv {
  margin-top: 0px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}



/* ========= GENERAL RESULTS TABLE ========== */
.resultsTable {
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
}

.resultsTable tr { text-align: left; }

/* Every other row color change: */
.resultsTable tr:nth-child(odd) {background: #fff1cc;}
.resultsTable tr:nth-child(even) {background: #eee1bb;}

.resultsTable tr:hover { 
  background-color: #b6befa; 
  cursor: pointer;
}


/* Column Specific width by percentages: */
#c_FN  {width: 20%}
#c_LN  {width: 20%}
#c_SN  {width: 10%}
#c_AG  {width: 15%}
#c_SCH {width: 35%}




/* RECENT TICKET TABLE */
.ticketTable {
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
}

.ticketTable tr { text-align: left; }

/* Every other row color change: */
.ticketTable tr:nth-child(odd) {background: #fff1cc;}
.ticketTable tr:nth-child(even) {background: #eee1bb;}

.ticketTable tr:hover { 
  background-color: #b6befa; 
  cursor: pointer;
}



/* RECENT PURCHASE TABLE */
.purchasesTable {
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
}

.purchasesTable tr { text-align: left; }

/* Every other row color change: */
.purchasesTable tr:nth-child(odd) {background: #fff1cc;}
.purchasesTable tr:nth-child(even) {background: #eee1bb;}

.purchasesTable tr:hover { 
  background-color: #b6befa; 
  cursor: pointer;
}










/* ========= NEW STUDENT TABLE ============== */
.newStudentTable {
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
  width: 500px;
}

.newStudentTable tr { text-align: left; }






/* ========= STUDENT INFO ============= */
.studentInfo {
  background-color: #fff1cc;
  padding: 2px 6px 6px 6px;
  border-spacing: 0;
  border: 1px solid black;
}

.studentInfo tr { text-align: left; }

#balance {
  background: #8f5;
}

#desc { text-align: right; }

.pointsTable {
  margin-top: 8px;
  margin-left: 16px;
  border-spacing: 0;
  border: 1px solid black;
  border-collapse: collapse;
  background: #eee1bb;
}
 
#studentInfoTopRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
}

#studentInfoTopRow div {
	flex-grow: 1;
}














/* ========= TICKETS ======================== */

.newTicketTable {
  background-color: #fff1cc;
  width: 400px;
}


.recentTicketTable {
  text-align: left;
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
  width: 800px;
  border: 1px solid black;
}

.recentTicketTable th {
  border-bottom: 1px solid black;
}

.recentTicketTable tr { text-align: left; }

/* Every other row color change: */
.recentTicketTable tr:nth-child(odd) {background: #fff1cc;}
.recentTicketTable tr:nth-child(even) {background: #eee1bb;}


/* In Student Profile Page */
#T_DATE  {width: 15%}
#T_WT    {width: 20%}
#T_P     {width: 15%}
#T_NOTE  {width: 50%}


/* In Ticket Page */
#TT_DATE  {width: 15%}
#TT_ID  	{width: 10%}
#TT_LN    {width: 15%}
#TT_FN    {width: 15%}
#TT_T     {width: 15%}
#TT_A     {width: 5%}
#TT_NOTE  {width: 25%}




/* In Purchase Page */
#PT_DATE  {width: 15%}
#PT_ID  	{width: 15%}
#PT_LN    {width: 15%}
#PT_FN    {width: 15%}
#PT_A     {width: 10%}
#PT_NOTE  {width: 30%}



/* ========= PURCHASES ====================== */

.newPurchaseTable {
  background-color: #fff1cc;
  width: 400px;
}



.recentPurchaseTable {
  text-align: left;
  background-color: #fff1cc;
  padding: 8px;
  border-spacing: 0;
  width: 800px;
  border: 1px solid black;
}

.recentPurchaseTable th {
  border-bottom: 1px solid black;
}

.recentPurchasesTable tr { text-align: left; }

/* Every other row color change: */
.recentPurchasesTable tr:nth-child(odd) {background: #fff1cc;}
.recentPurchasesTable tr:nth-child(even) {background: #eee1bb;}

#P_DATE  {width: 15%}
#P_A     {width: 15%}
#P_NOTE  {width: 70%}


.deleteButton {
  background: #b62;
  border: none;
  color: white;
  font-size: 12px;
}





/* ========= MINECRAFT TABLE ================ */


#MC_SC  {width: 15%}
#MC_LN  {width: 35%}
#MC_FN  {width: 35%}
#MC_WC  {width: 15%}




/* ========= ERRORS ========================= */
#errors {
  color: #fff;
  margin-bottom: 1em;
}

#errors > div {
  background-color: #f33;
  padding: 6px;
}




/* ======== SUCCESSES ======================= */
#successes {
  color: #fff;
  margin-bottom: 1em;
}

#successes > div {
  background-color: #3A2;
  padding: 6px;
}





/* ======== Reports ================ */

.reportBox {
  background-color: #fff1cc;
  padding: 6px;
  border: 1px black solid;
  margin-top: 8px;
}


.wrapper {
  display: flex;
  flex-flow: row;
	flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.wrapper > div {
  flex-grow: 1;
}









