/* ***********************************
 * Author: James Cameron Abreu
 * Date: February, 2018
 * Description: CSS file used with the library database nodejs application
 * Note: Any changes in here will reflect with ALL pages in the site
 * **********************************/

body {
  background-color: #ffffcc;
  padding: 20px;
}

#container {
  width: 500px;
  margin: 0 auto;
}


.innerTable {
  background-color: #fff1cc;
}


#allStudentTable {
  background-color: #fff1cc;
}

#allStudentTable tr {
  text-align: center;
}

#allStudentTable td {
  width: 140px;
}

#errors {
  color: #fff;
  margin-bottom: 1em;
}

#errors > div {
  background-color: #f33;
  padding: 6px;
}


