<!-- THIS IS THE FRONT PAGE OF THE SITE! -->
<h2>Home Page</h2>
<br>

<p><b>Purpose</b></p>
<p>The Club for Boys Library Application/Database was designed and
created to help the flow of data for students working in the library.
Information about student work, library points, hit lists, library purchases,
and more can be accessed through the various provided web pages. 
</p><br>

<p><b>Student Information</b></p>
<p>Student information can be accessed very quickly
through the student id search (at the top of every page), or by the student
search page. Student information provides data about the student, as well as
work done by the student and purchases made by the student.
</p><br>

<p><b>ID Card Scanning</b></p>
<p>The ID search bar located at the top of every page also
allows for ID card scanning with the Honeywell scanning machine (as long as the
scanning machine is set for keyboard mode. For help see website manual). The
student will automatically be searched and displayed. If the student does not
yet exist in the database, the number will be entered in to the New Student
form automatically to get the user started on filling out the information.
</p><br>


<p><b>Error and Success Message</b></p>
<p>This site features error and success
notifications when attempting to create new database information. This helps
the user know specifically what kind of requirements are needed to make
accurate data and ensure the consistency of the database records.
</p>

