
<h2>Add New Student to Database</h2>


<!-- NEW STUDENT FIELD -->
<fieldset class="newStudentField">
  <legend><h2>New Student Information</h2></legend>

  <table>
    <tr><th><label for="studentNumber">Student Number*:</label></th>
      <td><input name="studentNumber" id="studentNumber"></td></tr>

    <tr><th><label for="firstName">First Name*:</label></th>
      <td><input name="firstName" id="studentFirstName"></td></tr>

    <tr><th><label for="lastName">Last Name*:</label></th>
      <td><input name="lastName" id="studentLastName"></td></tr>
    
    <!-- I should really use sql to build this list up, but whatever... -->
    <tr><th>School
      <td><select name="school_id">
        <option value=1>Robbinsdale Elementary</option>
        <option value=2>Horace Mann Elementary</option>
        <option value=3>General Beadle Elementary</option>
        <option value=4>Grandview Elementary</option>
        <option value=5>Knollwood Elementary</option>
        <option value=6>South Park Elementary</option>
        <option value=7>Rapid Valley Elementary</option>
        <option value=8>Valley View Elementary</option>
        <option value=9>South Middle</option>
        <option value=10>North Middle</option>
        <option value=11>Southwest Middle</option>
        <option value=12>West Middle</option>
        <option value=13>East Middle</option>
        <option value=14>Stevens High</option>
        <option value=15>Central High</option>
        <option value=16>Rapid City Christian High</option>
      </select></td></tr>

  </table>
  <p><font size="2">*Indicates required fields</font><p>
  
  <input type="submit" value="submit" id="newStudentSubmitButton">
  
</fieldset>
<br>

