
<h2>Search Student</h2>

<!-- ERRORS -->
{{#if errorList}}
<div id="errors">
  {{#each errorList}}
    <div>{{this}}</div>
  {{/each}}
</div>
{{/if}}





<!-- SEARCH STUDENT BY NAME -->
<i><strong>Note: </strong>You may want to use only <u>part</u> of names to help widen the search. 
For example, if you wanted to search for 'Conner O'Daniel', you could just put 'dan' in the last name 
box and leave the first name blank. Try it!</i>
<form method="post" action="/searchStudentName">
<fieldset class="innerTable">

  <table style="text-align: left;">
    <!-- FIRST NAME -->
    <tr><th><label for="firstName">First Name</label></th>
      <td><input name="firstName" id="firstName" value="{{fName}}"></td></tr>

    <!-- LAST NAME -->
    <tr><th><label for="lastName">Last Name</label></th>
      <td><input name="lastName" id="lastName" value="{{lName}}"></td></tr>
  </table>
    
  <!-- SUBMIT BUTTON -->
  <input type="submit" value="Search" id="searchStudentSubmitButton">
  
</fieldset></form>
<br>

