<script src="scripts/Chart.js"></script>
	
<div style="width: 800px; height: 300px;">
	<canvas id="myChart"></canvas>
</div>


<script> 

	var a = [{{{data1}}}];
	var b = [{{{data2}}}];

	new Chart(document.getElementById("myChart"), {
  type: 'line',
  data: {
    labels: b,
    datasets: [{ 
        data: a,
        label: "Total pages read most recent 30 days",
        borderColor: "#3e95cd",
        fill: false
      }]
  },
  options: {
    title: {
      display: true,
      text: 'Readers sorted by age group'
    }
  }
});












	console.log(myLineChart);
</script>

