<!doctype html>
<html>
<head>
  <title>Club for Boys Library</title>
  <meta charset="UTF-8">
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>
  <script src="scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

<div id="container">

  <!-- HEADER -->

  <!-- TITLE BAR -->
  <div id=titleBar>
    <a href="#top">home</a>
    <a href="#top">enter points</a>
    <a href="#top">how to use</a>
  </div>


  <!-- BODY HERE -->
  {{{body}}}


  <!-- FOOTER -->
  <h3>--- About ---</h3>
  <p>This site was written and developed by James Cameron Abreu, an employee at
  the Club for Boys, Rapid City, South Dakota for use with the library. Site initially developed in February, 2018</p>
  <img src="images/siteLogo.png"/>

</div> <!-- container -->
</body>
</html>
