<!doctype html>

<html>
<head>
  <title>Club for Boys Database</title>
  <meta charset="UTF-8">
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>
  <script src="scripts/jquery-3.3.1.min.js"></script>
</head>



<body>

  <!-- LOAD ALL UTILITY FUNCTIONS -->
  <script src="scripts/appFunctions.js" type="text/javascript" charset="utf-8">
  </script>

  <script>

    // AUTO FOCUS THE SEARCH STUDENT FIELD (on all pages)
    $(document).ready(function () {
      // Default cursor at Student Number
      $("#scanID").textContent = "";
      console.log("document.ready: loaded...");
    }); // end on document.ready

  </script>



  <div id="container">

    <!-- HEADER -->
    <div id="titleDiv">
        <h1 id="title" style="display: inline;">Club For Boys Database</h1>
    </div>

    <!-- TITLE BAR -->
    <div id=titleBar>
      <!-- NEED TO USE onClick event with my functions! See ENGR1 project -->
        <div id="l_home">Home</div>
        <div id="l_search">Search</div>
        <div id="l_allStudents">All Students</div>
        <div id="l_newStudent">New Student</div>
        <div id="l_ticket">Tickets</div>
        <div id="l_purchase">Purchases</div>
        <div id="l_reports">Reports</div>
        <div id="l_minecraft">MineCraft Club</div>
        <div id="l_pt">Panther Ticket</div>
        <div id="l_pp">Panther Purchase</div>
        <div id="l_pr">Panther Reports</div>
    </div>




    <div id="innerContainer">

    <!-- SEARCH STUDENT BY SCANNING CARD -->
    <div><i>Scan or type the student card number for this box:</i></div>
    <form method="get" action="/student">
    <!-- <form method="post" action="/searchStudentScanCard"> -->
      <span>Student ID Number</span>
      <span><input name="scanID" id="scanID" type="number" value=""
        autofocus></span>

      <!-- SUBMIT BUTTON -->
      <span><input type="submit" value="Search" id="scanSubmitButton"></span>
    </form>
    <br>



    <!-- BODY HERE -->
    {{{body}}}


    <!-- FOOTER -->
    <div id="footer">
      <h3>--- About ---</h3>
      <p>This site was written and developed by James Cameron Abreu, an employee at
      the Club for Boys, Rapid City, South Dakota for use with the library. Site initially developed in February, 2018</p>
    </div>

  </div> <!-- innerContainer -->
  </div> <!-- container -->




  <!-- LINKS TO NODE SERVER -->
  <script>
      $("#l_home").click(function() {window.location = "/";});
      $("#l_search").click(function() {window.location = "/search";});
      $("#l_allStudents").click(function() {window.location = "/allStudents";});
      $("#l_newStudent").click(function() {window.location = "/newStudent";});
      $("#l_ticket").click(function() {window.location = "/newTicket";});
      $("#l_purchase").click(function() {window.location = "/newPurchase";});
      $("#l_reports").click(function() {window.location = "/reports";});
      $("#l_minecraft").click(function() {window.location = "/minecraftClub";});
      $("#l_pt").click(function() {window.location = "/pantherTicket";});
      $("#l_pp").click(function() {window.location = "/pantherPurchase";});
      $("#l_pr").click(function() {window.location = "/pantherReports";});


 </script>

</body>
</html>
